<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net462" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net462" />
  <package id="PayPal" version="1.9.1" targetFramework="net462" />
  <package id="PayPalAdaptivePaymentsSDK" version="2.15.117" targetFramework="net462" />
  <package id="PayPalCoreSDK" version="1.7.1" targetFramework="net462" />
  <package id="PayPalHttp" version="1.0.1" targetFramework="net462" />
</packages>